body {
  margin: 0;
  padding: 0;
}
main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  display: flex;
  flex: 30% 30% 30%;
  width: 90%;
}
.toggle {
  display: flex;
  text-align: center;
  font-size: 1rem;
  margin: 0 50px;
  width: fit-content;
  background-color: lightblue;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}
.first,
.second,
.third {
  width: 500px;
  padding: 30px;
}
.para {
  display: none;
}
