body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(37, 38, 39);
    margin-top: 18rem;
}
div{
    color:whitesmoke;
    padding: 20px 20px 45px 20px;
    background-color:rgb(50, 55,59);
    width: 33%;
    position: relative;
    font-family:Verdana, Tahoma, sans-serif;
}
.btn{
    cursor: pointer;
    position: absolute;
    right: 30px;
    color: whitesmoke;
    font-weight: bold;
    font-family:Verdana, Tahoma, sans-serif;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(25, 28, 29);
}